.item1{
  grid-area: header;
  height: 100px;
  line-height: 100px;
}
.item2{
  grid-area: navigation;
  height: 60px;
  line-height: 60px;
}
.item3{
  grid-area: sidebar;
  height: 400px;
  line-height: 400px;
}
.item4{
  grid-area: main;
  height: 400px;
  line-height: 400px;
}
.item5{
  grid-area: advertsing;
  height: 400px;
  line-height: 400px;
}
.item6{
  grid-area: footer;
  height: 80px;
  line-height: 80px;
}
.grid-container{
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'navigation navigation navigation navigation navigation navigation'
  'sidebar main main main main advertsing'
  'footer footer footer footer footer footer';
  grid-gap: 20px;
  background-color: #ffffff;
  padding: 30px;
}
.grid-container div{
  background-color:#C4C4C4;
  text-align: center;
  font-size: 30px;
}
@media only screen and (max-width: 1030px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header'
      'navigation navigation navigation navigation'
      'sidebar main main main'
      'advertsing footer footer footer';
    grid-gap: 20px;
    background-color: #ffffff;
    padding: 30px;
  }
  .item5 {
    grid-area: advertsing;
    height: 60px;
    line-height: 60px;
  }
}
@media only screen and (max-width: 420px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'navigation'
      'sidebar'
      'main'
      'advertsing'
      'footer';
    grid-gap: 20px;
    background-color: #ffffff;
    padding: 30px;
  }
  .item3 {
    grid-area: sidebar;
    height: 60px;
    line-height: 60px;
  }
}
